@if (confirmed) {
  <div style="text-align: center">{{ 'auth.resetPasswordConfirmation' | translate }}</div>
  <div style="text-align: center"><a href="/reset-password">{{ 'auth.resetAgain' | translate }}</a></div>

} @else {
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <mat-card class="login-card">
      <mat-card-header class="login-header">
        {{ 'auth.resetPassword' | translate }}
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="login-field">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput required formControlName="username" id="username" name="username" [placeholder]="'auth.emailPlaceholder'|translate">
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer class="login-footer">
        <button mat-flat-button color="primary" type="submit">{{'auth.resetPasswordShort'|translate}}</button>
      </mat-card-footer>
    </mat-card>
  </form>
}
