
export AWS_ACCESS_KEY_ID={{ op://zz5esffrofiy444ee2alcmenmi/jy4iuqpvznoc2eyyncyhh4ggoe/AWS_ACCESS_KEY_ID }}
export AWS_SECRET_ACCESS_KEY={{ op://zz5esffrofiy444ee2alcmenmi/jy4iuqpvznoc2eyyncyhh4ggoe/AWS_SECRET_ACCESS_KEY }}
