<search-bar
  class="searchBar"
  (searchTriggered$)="searchPlenaries($event)"
></search-bar>

<div class="plenariesHeader">
  <h2>{{ "plenaries.title" | translate }}</h2>
</div>

@if (plenaries$$ | async; as plenaries) {
<ul class="plenariesList">
  @for (plenary of plenaries; track $index) {
  <li
    [ngClass]="[plenary.isExpanded ? 'expanded' : 'closed']"
    [class.noMotions]="plenary.nrOfMotions === 0"
    class="plenariesBlock"
  >
    <div class="plenaryContent">
      <div
        class="plenaryTitleBar"
        (click)="plenary.isExpanded = !plenary.isExpanded"
      >
        <div class="chevronIcon">
          <i
            class="fa-solid fa-caret-right"
            [style.transform]="
              plenary.isExpanded ? 'rotate(90deg)' : 'rotate(0)'
            "
          ></i>
        </div>
        <div>
          <p class="plenaryTitle">
            @switch (selectedLanguage) { @case ('nl') {
            {{ plenary.titleNL }}
            } @case ('fr') {
            {{ plenary.titleFR }}
            } }
          </p>
          @if (plenary.nrOfMotions === 0) {
          <p class="plenaryNoMotions">
            {{ "plenaries.noMotions" | translate }}
          </p>
          }
        </div>
      </div>

      <div
        class="plenaryDetails"
        [ngClass]="[plenary.isExpanded ? 'expanded' : 'closed']"
      >
        @for (motion of plenary.motions; track $index) {
        <a routerLink="/motions/{{ motion.motionId }}">
          {{ "plenaries.agendaItem" | translate }} {{ motion.agendaSeqNr }},
          {{ "plenaries.motion" | translate }} {{ motion.voteSeqNr }}
        </a>

        <p class="plenaryDescription">
          @switch (selectedLanguage) { @case ('nl') {
          {{ motion.titleNL }}
          } @case ('fr') {
          {{ motion.titleFR }}
          } }
        </p>
        }
      </div>
    </div>

    <div class="plenaryMotionsDateBox">
      @if(plenary.nrOfMotions > 0){
      <div class="plenaryNbMotions">
        {{ plenary.nrOfMotions }}
        {{
          "motions.motionPluralize"
            | languagePlural : plenary.nrOfMotions
            | translate
        }}
      </div>
      }
      <div class="plenaryDate">{{ plenary.date }}</div>
    </div>
  </li>
  }
</ul>
}

<pagination
  class="plenariesPagination"
  [nrOfPages]="nrOfPages"
  (pageChanged$$)="getPagedPlenaries($event)"
></pagination>
