<ng-container *ngIf="authState$ | async as authState; else notLoggedIn">
  <mat-card class="login-card">
    <mat-card-header>
      You are logged in as {{ authState?.email }}
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="logout()">Logout</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #notLoggedIn>
  <mat-card class="login-card">
    <mat-card-header>
      Log in using email and password
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput required id="username" name="username" placeholder="you@example.com" [(ngModel)]="userInput">
      </mat-form-field>
      <mat-form-field>
        <input matInput required id="password" type="password" name="password" placeholder="password" [(ngModel)]="passwordInput">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
