//_colors.sass

$primary-color: #999
$secondary-color: #bb1818
$date-background-color: #d3d3d3


$cdnv-color: rgb(255, 96, 0)
$vooruit-color: rgb(255, 41, 0)
$nva-color: rgb(251, 188, 30)
$groen-ecolo-color: rgb(3, 173, 92)
$vb-color: rgb(255, 229, 0)
$openvld-color: rgb(0, 93, 170)
$MR-color: rgb(0, 93, 170)
$PS-color: rgb(255, 41, 0)
$onafh-color: rgb(120,120,120)
$les-engages-color: rgb(0, 230, 210)
$pvda-color: rgb(210, 11, 11)
$defi-color: rgb(222, 2, 123)
$INDEP-color: rgb(120,120,120)
//TODO: to delete?
$unknown-color: rgb(120,120,120)
