<div *ngIf="documentReference as ref">
  {{ "document.reference" | translate }}: {{ ref.spec }}
  <ul>
    <ng-container *ngFor="let subDoc of ref.subDocuments">
      <li *ngIf="selectedLanguage === 'nl'">
        <document-summary summary="{{subDoc.summaryNL}}"></document-summary>
      </li>
      <li *ngIf="selectedLanguage === 'fr'">
        <document-summary summary="{{subDoc.summaryFR}}"></document-summary>
      </li>
      <li><a href="{{subDoc.documentPdfUrl}}" target="_blank">{{ subDoc.documentPdfUrl }}</a></li>
    </ng-container>
    <li>
      <span *ngIf="ref.documentMainUrl"><a href="{{ref.documentMainUrl}}" target="_blank">{{ "document.overview-dekamer" | translate }}</a></span>
    </li>
  </ul>
</div>
