<div class="search-bar">
  <div class="search-main">
    <div class="search-inputs">
      <div>
        <label for="searchInput">{{ "searchBar.label" | translate }}:</label>
      </div>
      <div><input
        #searchBox
        type="search"
        class="searchInput"
        id="searchInput"
        [(ngModel)]="searchTerm"
        (keydown.enter)="triggerNewSearch(searchBox.value)"
      /></div>
      <div class="search-hints">
        {{ "searchBar.try" | translate }}
        <button
          #keyword1
          class="btnLinkStyle"
          (click)="triggerNewSearch(keyword1.innerText)"
        >
          {{ "searchBar.climate" | translate }}
        </button
        >
        ,
        <button
          #keyword2
          class="btnLinkStyle"
          (click)="triggerNewSearch(keyword2.innerText)"
        >
          {{ "searchBar.immigration" | translate }}
        </button
        >
        ,
        <button
          #keyword3
          class="btnLinkStyle"
          (click)="triggerNewSearch(keyword3.innerText)"
        >
          {{ "searchBar.job" | translate }}
        </button
        >
        , ...
      </div>
    </div>
    <button class="btn btn-primary search-button" (click)="triggerNewSearch(searchBox.value)">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      {{ "searchBar.searchBtn" | translate }}
    </button>
  </div>
</div>
