<div class="searchBox">
  <label
    >{{ "searchBar.label" | translate }}:
    <input
      #searchBox
      type="search"
      class="searchInput"
      id="searchInput"
      (keydown.enter)="triggerSearch(searchBox.value)"
    />
    {{ "searchBar.try" | translate }}
    <button
      #keyword1
      class="btnLinkStyle"
      (click)="hintSearch(keyword1.innerText)"
    >
      {{ "searchBar.climate" | translate }}</button
    >,
    <button
      #keyword2
      class="btnLinkStyle"
      (click)="hintSearch(keyword2.innerText)"
    >
      {{ "searchBar.immigration" | translate }}</button
    >,
    <button
      #keyword3
      class="btnLinkStyle"
      (click)="hintSearch(keyword3.innerText)"
    >
      {{ "searchBar.job" | translate }}</button
    >, ...
  </label>

  <button class="searchBtn" (click)="triggerSearch(searchBox.value)">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    {{ "searchBar.searchBtn" | translate }}
  </button>
</div>
