@use '../../styles/colors'
@use '../../styles/breakpoints'

.searchInput
  border: 2px solid colors.$color-primary-light
  border-radius: 6px
  padding: 0.5rem 1rem
  width: 100%

.searchBtn
  min-width: 12rem

