<!-- TODO: move <header> to a component -->
<header>
  <div class="headerLogo">
    <img
      src="assets/images/logo.svg"
      class="logoImage"
      alt="Transparent Democracy logo"
    />
    <p class="logoText">{{ title }}</p>
  </div>

  <language-selector class="headerLanguage"></language-selector>
</header>

<main>
  <div class="mainIntro">
    <h1>
      Visualisatie van de stemmingen in het Belgische Federale Parlement (kamer)
    </h1>
  </div>
  <motions class="motions"></motions>
</main>

<!-- TODO: move <footer> to a component -->
<footer>
  De data gebruikt op deze website is vrij beschikbaar onder de <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT license</a>
</footer>

<router-outlet />
