<header></header>

<main>
  <div class="mainIntro">
    <h1>
      {{ "main.title" | translate }}
    </h1>
    <p>
      {{ "main.intro" | translate }}
    </p>

    @if('main.searchRange' | translate) {
      <div class="alert alert-primary" role="alert" [innerHTML]="'main.searchRange' | translate"></div>
    }

    @if(maintenanceModeEnabled) {
      <p class="alert alert-danger" role="alert">
        <strong>{{ "maintenance.announcement" | translate }}</strong>
        <br display="block">
        {{ "maintenance.impact" | translate }}
      </p>
    }
  </div>

  <router-outlet />
</main>

<footer></footer>
