<header></header>

<main>
  <div class="mainIntro">
    <h1>
      Visualisatie van de stemmingen in het Belgische Federale Parlement (kamer)
    </h1>
    <p>
      Wij geloven dat het in een democratie transparant en gemakkelijk te
      begrijpen moet zijn wat politici, die het volk vertegenwoordigen, hebben
      gestemd. Dit project wil het stemgedrag van de politici in het Belgische
      Federale Parlement (Kamer) in 2024 visualiseren.
    </p>
  </div>
  <motions class="motions"></motions>
</main>

<footer></footer>

<router-outlet />
