@use '../styles/colors'
@use '../styles/breakpoints'

header
  border-top: 1px solid colors.$color-tertiary-light
  border-bottom: 1px solid transparent

  &:has(.headerWrapper.scrolledToBottom)
    border-color: colors.$color-white

main
  margin-bottom: 4rem
  max-width: 100%
  padding: 2rem

  & .mainIntro
    margin: 0 auto 2rem auto
    padding: 0 4rem
    text-align: center

    @media (max-width: breakpoints.$screen-md)
      padding: 0

    & h1
      margin-bottom: 1rem

    & p
      margin: 0 auto 1rem auto
      width: 80%

  .motions
    width: 100%
    display: flex
    flex-direction: column
