main
  margin-bottom: 6rem
  max-width: 72rem
  padding: 2rem

  & .mainIntro
    margin-bottom: 4rem
    text-align: center

    & h1
      font-size: 1.5rem

    & p
      margin: 0 auto
      width: 80%

  .motions
    width: 100%
    display: flex
    flex-direction: column
