<search-bar
  class="searchBar"
  (searchTriggered$)="searchMotions($event)"
></search-bar>

<div class="motionsHeader">
  <h2>{{ "motions.title" | translate }}</h2>
</div>

@if (motionsGroups$$ | async; as motionGroups) {
  <ul class="motionGroupList">
    @for (motionGroup of motionGroups; track $index) {
      <li
        class="motionGroup"
        [class.onlyOneMotion]="motionGroup.motions.length === 1"
      >
        <!-- Motion group -->
        <div
          class="motionGroupTitleBar"
          (click)="motionGroup.isExpanded = !motionGroup.isExpanded"
        >
          <div class="chevronIcon">
            <div [style.transform]="motionGroup.isExpanded ? 'rotate(90deg)' : 'rotate(0)'"
                 tabindex="0">
              <fa-icon [icon]="caretRight"></fa-icon>
            </div>
          </div>
          <div class="motionGroupTitle">
            <h3>
              @switch (selectedLanguage) {
                @case ('nl') {
                  {{ motionGroup.titleNL }}
                }
                @case ('fr') {
                  {{ motionGroup.titleFR }}
                }
              }
            </h3>
          </div>
          <div class="motionGroupDateBox">
            <div class="motionGroupNrMotions">
              {{ motionGroup.motions.length }}
              {{
                "motions.motionPluralize"
                  | languagePlural : motionGroup.motions.length
                  | translate
              }}
            </div>
            <div class="motionGroupDate">{{ motionGroup.votingDate }}</div>
          </div>
        </div>

        <!-- Motions -->
        <div
          class="motionList"
          [ngClass]="[motionGroup.isExpanded ? 'expanded' : 'closed']"
        >
          @for (motion of motionGroup.motions; track $index) {
            <div
              id="{{ motion.id }}"
              [ngClass]="[motion.isExpanded ? 'expanded' : 'closed']"
              [class.expanded]="motionGroup.motions.length === 1"
              class="motionBlock"
            >
              <div class="motionContent">
                @if (motionGroup.motions.length !== 1) {
                  <div
                    class="motionTitleBar"
                    (click)="motion.isExpanded = !motion.isExpanded"
                  >
                    <div class="chevronIcon">
                      <i
                        class="fa-solid fa-caret-right"
                        [style.transform]="
                  motion.isExpanded ? 'rotate(90deg)' : 'rotate(0)'
                "
                        tabindex="0"
                      ></i>
                    </div>
                    <p class="motionTitle">
                      @switch (selectedLanguage) {
                        @case ('nl') {
                          {{ motion.titleNL }}
                        }
                        @case ('fr') {
                          {{ motion.titleFR }}
                        }
                      }
                    </p>
                  </div>
                }

                <div
                  class="motionDetails"
                  [ngClass]="[motion.isExpanded ? 'expanded' : 'closed']"
                >
                  @if (motion.documentReference) {
                    <document-references
                      [documentReference]="motion.documentReference"
                      class="documentReferences"
                    ></document-references>
                  }

                  <div class="voteOverView">
                    <div class="voteOverViewTitle">
                      <h4>
                        {{ "motions.resultsByParty" | translate }}
                      </h4>
                      <button
                        #btnShowAllVotes
                        (click)="
                    toggleShowAllVotes(btnShowAllVotes, votesPerPartyTable)
                  "
                        class="btnLinkStyle btnShowAllVotes"
                      >
                        {{ "motions.showAllParties" | translate }}
                      </button>
                    </div>
                    <div #votesPerPartyTable class="votePerPartyTable">
                      <div class="yesVotesColumn">
                        <div class="votesHeader">
                    <span class="typeOfVote">{{
                        "motions.yes" | translate
                      }}</span>
                          <span class="nrOfVotes"
                          >{{ motion.yesVotes.nrOfVotes }}·&nbsp;
                            {{ motion.yesVotes.votePercentage | number:'1.0-2' }}%
                            {{
                              "motions.votePluralize"
                                | languagePlural : motion.yesVotes.nrOfVotes
                                | translate
                            }}</span
                          >
                        </div>
                        <div class="votesPartyList">
                          @for (partyYesVotes of motion.yesVotes.partyVotes |
                            sort:'numberOfVotes': 'desc'; track $index) {
                            <div
                              class="partyVoteResult"
                              [class.noVotes]="partyYesVotes.numberOfVotes === 0"
                            >
                              <div class="voteResultsPartyName">
                        <span
                          class="partyNameTag"
                          [ngClass]="
                            removeSpaces(partyYesVotes.partyName) + '-color'
                          "
                        >{{ partyYesVotes.partyName }}</span
                        >
                              </div>
                              <span class="partyVotePercentage"
                              >{{ partyYesVotes.numberOfVotes }} &nbsp;·&nbsp;
                                {{ partyYesVotes.votePercentage | number:'1.0-2' }}%</span
                              >
                            </div>
                          }
                        </div>
                      </div>
                      <div class="noVotesColumn">
                        <div class="votesHeader">
                    <span class="typeOfVote">{{
                        "motions.no" | translate
                      }}</span
                    ><span class="nrOfVotes"
                        >{{ motion.noVotes.nrOfVotes }}·&nbsp;
                          {{ motion.noVotes.votePercentage | number:'1.0-2' }}%
                          {{
                            "motions.votePluralize"
                              | languagePlural : motion.noVotes.nrOfVotes
                              | translate
                          }}</span
                        >
                        </div>
                        <div class="votesPartyList">
                          @for (partyNoVotes of motion.noVotes.partyVotes | sort:
                            'numberOfVotes': 'desc'; track $index) {
                            <div
                              class="partyVoteResult"
                              [class.noVotes]="partyNoVotes.numberOfVotes === 0"
                            >
                              <div class="voteResultsPartyName">
                        <span
                          class="partyNameTag"
                          [ngClass]="
                            removeSpaces(partyNoVotes.partyName) + '-color'
                          "
                        >{{ partyNoVotes.partyName }}</span
                        >
                              </div>
                              <span class="partyVotePercentage"
                              >{{ partyNoVotes.numberOfVotes }} &nbsp;·&nbsp;
                                {{ partyNoVotes.votePercentage | number:'1.0-2' }}%</span
                              >
                            </div>
                          }
                        </div>
                      </div>
                      <div class="abstVotesColumn">
                        <div class="votesHeader">
                    <span class="typeOfVote">{{
                        "motions.abstention" | translate
                      }}</span>
                          <span class="nrOfVotes"
                          >{{ motion.absVotes.nrOfVotes }}·&nbsp;
                            {{ motion.absVotes.votePercentage | number:'1.0-2' }}%
                            {{
                              "motions.votePluralize"
                                | languagePlural : motion.absVotes.nrOfVotes
                                | translate
                            }}</span
                          >
                        </div>
                        <div class="votesPartyList">
                          @for (partyAbsVotes of motion.absVotes.partyVotes | sort:
                            'numberOfVotes': 'desc'; track $index) {
                            <div
                              class="partyVoteResult"
                              [class.noVotes]="partyAbsVotes.numberOfVotes === 0"
                            >
                              <div class="voteResultsPartyName">
                        <span
                          class="partyNameTag"
                          [ngClass]="
                            removeSpaces(partyAbsVotes.partyName) + '-color'
                          "
                        >{{ partyAbsVotes.partyName }}</span
                        >
                              </div>
                              <span class="partyVotePercentage"
                              >{{ partyAbsVotes.numberOfVotes }} &nbsp;·&nbsp;
                                {{ partyAbsVotes.votePercentage | number:'1.0-2' }}%</span
                              >
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div>Bron: <a
                      href="https://www.dekamer.be/doc/PCRI/html/{{motionGroup.legislature}}/ip{{motionGroup.plenaryNr | number: '3.0' }}x.html"
                      target="_blank"> {{ "motions.plenary.meeting" | translate }} {{ motionGroup.plenaryNr }} - {{ "motions.legislature" | translate }} {{ motionGroup.legislature }}</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="motionResultBox">
                <div class="motionResult">
                  @if (motion.votingResult) {
                    <div class="accepted">
                      <fa-icon [icon]="acceptedIcon"></fa-icon>
                      {{ "motions.accepted" | translate }}
                    </div>
                  } @else if (!motion.votingResult) {
                    <div class="rejected">
                      <fa-icon [icon]="rejectedIcon"></fa-icon>
                      {{ "motions.rejected" | translate }}
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </li>
    }
  </ul>
}
<pagination
  class="motionsPagination"
  [nrOfPages]="nrOfPages"
  (pageChanged$$)="getPagedMotions($event)"
>
</pagination>
