//motions.component.sass
@use '../../styles/colors'

search-bar
  margin-bottom: 1.5rem

.motionList
  display: flex
  flex-direction: column

.motionBlock
  display: flex
  height: auto
  flex-direction: row
  justify-content: space-between
  margin-bottom: 1rem
  border: 1px solid colors.$date-background-color
  border-radius: 8px

.motionContent
  display: flex
  flex-direction: column
  height: auto
  width: 100%
  padding: 0.5rem

.motionTitleBar
  display: flex

.motionTitle
  width: 100%
  font-weight: bold
  cursor: pointer
  -webkit-user-select: none /* Safari */
  -ms-user-select: none /* IE 10 and IE 11 */
  user-select: none /* Standard syntax */

.motionDetails
  width: 100%
  font-weight: normal
  padding: 1rem 0 0 0

.motionDate
  align-self: stretch
  cursor: default
  background-color: colors.$date-background-color
  border-radius: 8px
  font-weight: lighter
  padding: 0.6rem 0.5rem

.motionResultAccepted,
.motionResultRejected
  text-transform: uppercase
  height: fit-content
  font-size: 0.7rem
  font-weight: bold
  margin-left: 1rem
  display: flex
  justify-content: center
  padding: 0.4rem
  color: #FFF
  border-radius: 0.5rem
  min-width: 100px

.motionResultAccepted
  background-color: green

.motionResultRejected
  background-color: red

