<search-bar
  class="searchBar"
  (searchTriggered$)="searchMotions($event)"
></search-bar>

<div class="motionsHeader">

  <h2>Moties</h2>

  <pagination
    class="motionsPagination"
    [nrOfPages]="nrOfPages"
    (pageChanged$$)="getPagedMotions($event)"
  ></pagination>
</div>

@if (motions$$ | async; as motions) {
  <div class="motionList">
    @for (motion of motions; track $index) {
      <div
        [ngClass]="[motion.isExpanded ? 'expanded' : 'closed']"
        class="motionBlock"
      >
        <div class="motionContent">
          <div
            class="motionTitleBar"
            (click)="motion.isExpanded = !motion.isExpanded"
          >
            <div class="chevronIcon">
              <i
                class="fa-solid fa-chevron-right"
                [style.transform]="
              motion.isExpanded ? 'rotate(90deg)' : 'rotate(0)'
            "
              ></i>
            </div>
            <div *ngIf="selectedLanguage === 'NL'" class="motionTitle">
              {{ motion.titleNL }}
            </div>
            <div *ngIf="selectedLanguage === 'FR'" class="motionTitle">
              {{ motion.titleFR }}
            </div>
          </div>

          <div
            class="motionDetails"
            [ngClass]="[motion.isExpanded ? 'expanded' : 'closed']"
          >
            <p>id: {{ motion.id }}</p>
            <p *ngIf="selectedLanguage === 'NL'" class="motionDescription">{{ motion.descriptionNL }}</p>
            <p *ngIf="selectedLanguage === 'FR'" class="motionDescription">{{ motion.descriptionFR }}</p>
            <div class="voteOverView">
              <div class="voteOverViewTitle">Stemresultaten per partij:</div>
              <div class="votePerPartyTable">
                <div class="yesVotesColumn">
                  <div class="votesHeader">
                    <span class="typeOfVote">Ja</span>
                    <span class="nrOfVotes"
                    >{{ motion.yesVotes.nrOfVotes }} stemmen</span
                    >
                  </div>
                  <div class="votesPartyList">
                    @for (partyYesVotes of motion.yesVotes.partyVotes | sortVotes;
                      track $index) {
                      <div
                        class="partyVoteResult"
                        [class.noVotes]="partyYesVotes.numberOfVotes === 0"
                      >
                        <div class="voteResultsPartyName">
                    <span
                      class="partyNameTag"
                      [ngClass]="
                        removeSpaces(partyYesVotes.partyName) + '-color'
                      "
                    >{{ partyYesVotes.partyName }}</span
                    >
                        </div>
                        <span class="partyVotePercentage"
                        >{{ partyYesVotes.numberOfVotes }} &nbsp;·&nbsp;
                          {{ partyYesVotes.votePercentage }}%</span
                        >
                      </div>
                    }
                  </div>
                </div>
                <div class="noVotesColumn">
                  <div class="votesHeader">
                <span class="typeOfVote">Nee</span
                ><span class="nrOfVotes"
                  >{{ motion.noVotes.nrOfVotes }} stemmen</span
                  >
                  </div>
                  <div class="votesPartyList">
                    @for (partyNoVotes of motion.noVotes.partyVotes | sortVotes;
                      track $index) {
                      <div
                        class="partyVoteResult"
                        [class.noVotes]="partyNoVotes.numberOfVotes === 0"
                      >
                        <div class="voteResultsPartyName">
                    <span
                      class="partyNameTag"
                      [ngClass]="
                        removeSpaces(partyNoVotes.partyName) + '-color'
                      "
                    >{{ partyNoVotes.partyName }}</span
                    >
                        </div>
                        <span class="partyVotePercentage"
                        >{{ partyNoVotes.numberOfVotes }} &nbsp;·&nbsp;
                          {{ partyNoVotes.votePercentage }}%</span
                        >
                      </div>
                    }
                  </div>
                </div>
                <div class="abstVotesColumn">
                  <div class="votesHeader">
                <span class="typeOfVote">Onthouding</span
                ><span class="nrOfVotes"
                  >{{ motion.absVotes.nrOfVotes }} stemmen</span
                  >
                  </div>
                  <div class="votesPartyList">
                    @for (partyAbsVotes of motion.absVotes.partyVotes | sortVotes;
                      track $index) {
                      <div
                        class="partyVoteResult"
                        [class.noVotes]="partyAbsVotes.numberOfVotes === 0"
                      >
                        <div class="voteResultsPartyName">
                    <span
                      class="partyNameTag"
                      [ngClass]="
                        removeSpaces(partyAbsVotes.partyName) + '-color'
                      "
                    >{{ partyAbsVotes.partyName }}</span
                    >
                        </div>
                        <span class="partyVotePercentage"
                        >{{ partyAbsVotes.numberOfVotes }} &nbsp;·&nbsp;
                          {{ partyAbsVotes.votePercentage }}%</span
                        >
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="motionResultDateBox">
          <div class="motionResult">
            @if (motion.votingResult) {
              <div class="accepted">
                <i class="fa-solid fa-check-circle" aria-hidden="true"></i> Aangenomen
              </div>
            } @else if (!motion.votingResult) {
              <div class="rejected">
                <i class="fa-solid fa-times-circle" aria-hidden="true"></i> Verworpen
              </div>
            }
          </div>
          <div class="motionDate">{{ motion.votingDate }}</div>
        </div>
      </div>
    }
  </div>
}
