<search-bar (searchTriggered$)="searchMotions($event)"></search-bar>

<h2>Motions</h2>

@if (motions$$ | async; as motions) {
  <div class="motionList">
    @for (motion of motions; track $index) {
      <div class="motionBlock">
        <div class="motionContent">
          <div class="motionTitleBar">
          <div class="motionTitle" (click)="motion.isExpanded=!motion.isExpanded">{{ motion.titleNL }}</div>
            @if (motion.votingResult){
              <div class="motionResultAccepted" (click)="motion.isExpanded=!motion.isExpanded">
                aangenomen
              </div>
            } @else if (!motion.votingResult) {
              <div class="motionResultRejected" (click)="motion.isExpanded=!motion.isExpanded">
                verworpen
              </div>
            }
          </div>
          <div class="motionDetails" [style.opacity]="motion.isExpanded ? '100' : '0'" [style.display]="motion.isExpanded ? 'block' : 'none'">
            {{ motion.descriptionNL }} <br/><br/>
            <div class="voteOverView">
              <h2>Per partij</h2>
              <div class="votePerPartyTable">
                <div class="yesVotesColumn">
                  <div class="votesHeader">Ja ({{ motion.yesVotes.nrOfVotes }} stemmen)</div>
                  <div class="votesPartyList">
                    @for (partyYesVotes of motion.yesVotes.partyVotes; track $index) {
                      <div class="partyVoteResult"><div class="voteResultsPartyName"><span class="partyNameTag" [ngClass]="removeSpaces(partyYesVotes.partyName) + '-color'">{{ partyYesVotes.partyName}}</span></div> <span class="partyVotePercentage">{{ partyYesVotes.votePercentage}}% ({{ partyYesVotes.numberOfVotes }})</span></div>
                    }
                  </div>
                </div>
                <div class="noVotesColumn">
                  <div class="votesHeader">Nee ({{ motion.noVotes.nrOfVotes }} stemmen)</div>
                  <div class="votesPartyList">
                    @for (partyNoVotes of motion.noVotes.partyVotes; track $index) {
                      <div class="partyVoteResult"><div class="voteResultsPartyName"><span class="partyNameTag" [ngClass]="removeSpaces(partyNoVotes.partyName) + '-color'">{{ partyNoVotes.partyName}}</span></div> <span class="partyVotePercentage">{{ partyNoVotes.votePercentage}}%</span></div>
                    }
                  </div>
                </div>
                <div class="abstVotesColumn">
                  <div class="votesHeader">Onthouding ({{ motion.absVotes.nrOfVotes }} stemmen)</div>
                  <div class="votesPartyList">
                    @for (partyAbsVotes of motion.absVotes.partyVotes; track $index) {
                      {{console.log(partyAbsVotes.numberOfVotes)}}
                      <div class="partyVoteResult"><div class="voteResultsPartyName"><span class="partyNameTag" [ngClass]="removeSpaces(partyAbsVotes.partyName) + '-color'">{{ partyAbsVotes.partyName}}</span></div> <span class="partyVotePercentage">{{ partyAbsVotes.votePercentage}}%</span></div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="motionDate">{{ motion.votingDate }}</div>
      </div>
    }
  </div>
}

<pagination [nrOfPages]="nrOfPages" (pageChanged$$)="getPagedMotions($event)"></pagination>
