<nav>
  <ul class="pagination">
    <li class="page-item" [class]="disableIfCurrentPage(1)">
      <button class="page-link" (click)="decreasePage($event)">
        <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      </button>
    </li>

    @for (num of totalPagesArray; track $index) {
    <li class="page-item" [class]="disableIfCurrentPage(num)">
      <button class="page-link" (click)="setPage($event, num)">
        {{ num }}
      </button>
    </li>
    }

    <li class="page-item" [class]="disableIfCurrentPage(nrOfPages)">
      <button class="page-link" (click)="increasePage($event)">
        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>
