@if (nrOfPages > 1) {
  <nav class="navBox">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage == 1">
        <button class="page-link" (click)="toPreviousPage()">
          <fa-icon [icon]="arrowLeft"></fa-icon>
        </button>
      </li>

      @for (num of totalPagesArray; track num) {
        @if (num == '...1' || num == '...2') {
          <li class="page-item disabled">
            <button class="page-link" (click)="onPageClick(num)">
              ...
            </button>
          </li>
        } @else {
          <li class="page-item">
            <button class="page-link" (click)="onPageClick(num)" [class.active]="currentPage == num">
              {{ num }}
            </button>
          </li>
        }
      }

      <li class="page-item" [class.disabled]="currentPage == nrOfPages">
        <button class="page-link" (click)="toNextPage()">
          <fa-icon [icon]="arrowRight"></fa-icon>
        </button>
      </li>
    </ul>

  </nav>

}

