@use '../../styles/colors'
p
  text-align: center

div
  display: flex
  justify-content: center
  align-items: center
  gap: 0.5rem
  width: 100%

input
  border: 1px solid colors.$color-primary
  border-radius: 8px
  height: 2rem
  padding: 0 0.5rem
  width: 100%

button
  font-weight: bold
  border-radius: 8px
  border: 2px solid transparent
  width: 180px
  padding: 0.2rem 2rem
  cursor: pointer
  transition: border-color 0.2s ease-in-out
  &:hover
    border: 2px solid colors.$color-primary
  &:active
    border: 2px solid colors.$color-secondary

.fa-magnifying-glass
  display: inline
