.searchBar
  margin-bottom: 2rem

.motionsHeader
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 1.25rem

.motionsPagination
  display: flex
  overflow-x: auto
  margin: 0 auto
