<ng-container *ngIf="authState$ | async as authState; else notLoggedIn">
  <current-user-card [email]="authState?.email"></current-user-card>
</ng-container>

<ng-template #notLoggedIn>
  <form [formGroup]="signupForm" (ngSubmit)="signUp()">
    <mat-card class="signup-card">
      <mat-card-header class="signup-header">
        {{ "auth.signUpWithEmailAndPassword" | translate }}
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="signup-field">
          <mat-label>{{ "auth.email" | translate }}</mat-label>
          <input matInput required id="username" formControlName="username" name="username" [placeholder]="'auth.emailPlaceholder' | translate ">
          <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
            {{ 'auth.formErrorRequired' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('username')?.hasError('email')">
            {{ 'auth.formErrorEmail' | translate }}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="signup-field">
          <mat-label>{{ 'auth.password' | translate }}</mat-label>
          <input matInput required id="password" formControlName="password" type="password" name="password" [placeholder]="'auth.passwordPlaceholder' | translate"/>
          <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
            {{ 'auth.formErrorPasswordLength' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
            {{ 'auth.formErrorRequired' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="signup-field">
          <mat-label>{{ 'auth.passwordAgain' | translate}}</mat-label>
          <input matInput required id="password2" formControlName="password2" type="password" name="password" [placeholder]="'auth.passwordPlaceholder' | translate">
          <mat-error *ngIf="signupForm.get('password2')?.hasError('passwordsDoNotMatch')">
            {{ 'auth.formErrorPasswordsDoNotMatch' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('password2')?.hasError('required')">
            {{ 'auth.formErrorRequired' | translate }}
          </mat-error>
        </mat-form-field>
        @if (lastError) {
          <div style="margin-bottom: 1em">{{ lastError }}</div>
        }
      </mat-card-content>
      <mat-card-footer class="signup-footer">
        <button type="submit" mat-flat-button color="primary" [disabled]="!signupForm.valid">{{ "auth.signUp" | translate }}</button>
        <hr>
        {{ "auth.alreadyHaveAnAccount" | translate }} <a href="/login">{{ "auth.login" | translate }}</a>
      </mat-card-footer>
    </mat-card>
  </form>
</ng-template>
