<nav class="mainMenu">
  <a
    routerLink="/motions"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >{{ "header.nav.motions" | translate }}</a
  >
  <a
    routerLink="/plenaries"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >{{ "header.nav.plenaries" | translate }}</a
  >
  <a
    routerLink="/help"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon [icon]="questionIcon"></fa-icon>

    {{ "header.nav.help" | translate }}</a
  >
</nav>
